html {
  box-sizing:border-box;
}

li{
  list-style: none;
}

body{
  background-color:black;
  margin : 0;
  margin-bottom:10px;
  padding : 0;
  color:white;
  box-sizing:border-box;
}
img{
  width:25px;
  height:25px;
}

.App{
  display: flex;
  margin-bottom:10px;
}

nav{
  height:0;
}


/* top bar css */

.top_container{
  position: fixed;
  margin-left:calc(30% + 20px);
  height:40px;
  background-color: rgba(0,0,0,0.7);
  width:33%;
  border-left:0.1px solid lightslategray;
  border-right:0.1px solid lightslategray;
}

.show_current_page{
  height:40px;
  display:flex;
  align-items:center;
}

.show_current_page > svg { 
  margin-left:20px;
  cursor: pointer;
}

.show_current_page > span{
  font-weight:bold;
  font-size:20px;
  margin-left:20px;
}

.top_side_container{
  position:fixed;
  margin-left:calc(70% + 20px);
  height:40px;
  background-color: rgba(0,0,0,0.7);
  border:0.1px solid lightslategray;
  width:20%;
  display:flex;
  align-items:center;
  justify-content:center;
}

/* left navigation css */

.nav_link_container{
  list-style-type: none;
  width:12%;
  margin: 0;
  margin-left:17%;
  padding:0;
  height: 100%;
  position: fixed;
}

.nav_link_container > li > a:hover {
  background-color:white;
}

.nav_link_container > li{
  margin-bottom:15%;
  display:flex;
}

.nav_link_container > li:hover{
  cursor: pointer;
}

.nav_link_container > li:first-child{
  margin-top:10px;
  margin-left:8px;
}

.nav_link_container > li a{
  padding:5px;
}

.nav_link_container > li svg{
  width:30px;
  height:30px;
}

.nav_link_container > li a:hover{ 
  border-radius:20px;
  background-color:slategray;
}

.nav_link_container > li:not(:first-child){
  margin: 10px 0;
}

.nav_link_container > li > div > .nav_link{
  display:flex;
  align-items: center;
  text-decoration: none; 
}

.nav_link_container > li > div > .nav_link > span{
  color:white;
  margin-left:20px;
}

.nav_link_container > li > .li_container{
  padding:8px;
}

.nav_link_container > li > .li_container:hover{
  background-color:slategray;
  border-radius:25px;
}

.nav_link_container > li:nth-last-child(1) {
  cursor:default;
}

.navi_tweet_container{
  display:flex;
  justify-content: center;
  align-items: center;
}

.navi_tweet_container:hover{
  cursor:pointer;
}

.navi_tweet_container > .tweet_btn{
  background-color:#04AAFF;
  padding:15px;
  width: 100%;
  border-radius: 30px;
  text-align:center;
}

.navi_tweet_container > .tweet_btn > span{
  color:white;
  font-size:15px;
  font-weight: bold;
}

.current_user_info_container{
  width:100%;
  text-align: center;
  position:absolute;
  bottom:0;
  margin-bottom:20px;
  display:flex;
  padding:10px;
  align-items: center;
  cursor:pointer;
  right:0px;
}

.current_user_info_container:hover{
  background-color:slategray;
  border-radius: 30px;
}

.current_user_info_container > .three-dots-icon{
  margin-left:auto;
}


.current_user_info{
  display:flex;
  align-items:center;
  margin-left:10%;
  font-weight: bold;
}

.current_user_info_container > .user_info_click{
  width:170px;
  height:40px;
  position: absolute;
  border:1px solid white;
  border-style: double;
  border-radius: 10px;
  top: -50px;
  bottom:0px;
  margin-bottom:50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.pull.gr {
  background-color: #22ac38;
}
.pull.gr:after {
  content:""; 
  position: absolute; 
  right: 100px; 
  top: 100px; 
  border-left: 20px solid transparent; 
  border-right: 20px solid transparent; 
  border-top: 30px solid #22ac38;
}

/* content css */

.container{
  margin-left:calc(30% + 20px);
  margin-top:40px;
  padding: 0px;
  border-left:0.1px solid lightslategray;
  border-right:0.1px solid lightslategray;
  width:33%;
  height: 100%;
  /* padding-bottom:100px; */
  /* margin-bottom: 120px; */
}

/* .home_container{
  margin-bottom: 120px;
} */

.factoryForm{
  display:flex;
  margin-top:20px;
  margin-bottom:40px;
}

.content_container > .write_tweet_container{
  padding:20px;
  padding-bottom:0px;
  border-bottom:0.1px solid lightslategray;
}
.user_image_container {
  margin-right:20px;
}

.factoryForm > .user_image_container > img{
  width:50px;
  height:50px;
  border-radius:30px;
}

.factoryForm > .user_image_container > svg{
  width:50px;
  height:50px;
  border-radius:30px;
}

.factoryForm > .tweet_input_container{
  width:100%;
  margin-top:10px;
}

.factoryForm > .tweet_input_container > .factoryInput__input{
  height:30px;
  width:100%;
  background-color:black;
  color:white;
  font-weight:bold;
  border:none;
  font-size:20px;
}

.factoryInput__input:focus{
  outline:none;
}

.tweet_input_container > .tweet_footer{
  border-top: 0.1px solid lightslategray;
  padding-top:20px;
  margin-top:10px;
  display:flex;
  align-items: center;
  position: relative;
}

.tweet_input_container > .tweet_footer > .factoryInput__label > .input_image_icon{
  width:20px;
  height:20px;
  color:#04AAFF;
  cursor: pointer;
}

.tweet_input_container > .tweet_footer > .file_upload_input{
  display:none;
}

.tweet_input_container > .tweet_footer > .factory_input_tweet{
  position: absolute;
  right: 0;
  background-color:#04AAFF;
  border-radius: 22px;
  font-size:15px;
  padding:0 10px;
  height:32px;
  display:flex;
  align-items: center;
}

.factory_input_tweet > button{
  background-color: #04AAFF;
  color:white;
  border:none;
  font-size:15px;
  cursor:pointer;
  font-weight: bold;
}

.factoryForm > .tweet_input_container > .factoryForm__attachment{
  width:100%;
  height:auto;
}

.factoryForm > .tweet_input_container > .factoryForm__attachment > img{
  width:100%;
  height:auto;
  border-radius: 10px;
}

.factoryForm__attachment{
  position:relative;
}

.factoryForm__clear > svg{
  position: absolute;
  color:white;
  padding:3px;
  width:16px;
  height:16px;
  border-radius: 20px;
  background-color:black;
  top:5px;
  left:5px;
}

/* tweet 입력시 tweet list container */

.tweet{
  border-bottom:0.1px solid lightslategray;
  /* padding:10px;
  padding-bottom:15px; */
  padding: 15px 15px 20px 15px;
  display:flex;
}

.tweet_home{
  cursor: pointer;
}

.tweet_home:hover{
  background-color:rgb(28, 29, 29);
}

.tweet svg{
  cursor: pointer;
}

.tweet > .tweet_user_photo_container{
  padding-top: 20px;
  position: relative;
}

.tweet > .tweet_user_photo_container > .user_photo_image{
  width:50px;
  height:50px;
  border-radius: 25px;
  cursor:pointer;
}

.tweet > .tweet_user_photo_container > .activing_user_photo_image{
  filter: brightness(50%);
}

.tweet_content {
  width:100%;
  display: flex;
  flex-direction: column;
}

.tweet > .tweet_content > .tweet_userInfo_container {
  margin-left:15px;
  position: relative;
}

.isNotOwner{
  margin-top:30px;
}

.tweet > .tweet_content > .tweet_userInfo_container > .user_name{
  font-weight: bold;
}

.tweet > .tweet_content > .tweet_userInfo_container > .enroll_date{
  font-weight: lighter;
  color:slategray;
  margin-left:10px;
}

.tweet > .tweet_content > .tweet_userInfo_container > .tweet_more_container{
  position: relative;
}

.tweet > .tweet_content > .tweet_userInfo_container > .tweet_more_container > svg{
  position: absolute;
  right: 0;
  padding:5px;
}

.tweet > .tweet_content > .tweet_userInfo_container > .tweet_more_container > svg:hover{
  background-color:black;
  border-radius: 100px;

}

.tweet_pin{
  display: flex;
  align-items: center;
  color:rgb(100, 110, 119);
  height: 30px;
}

.tweet_pin > svg {
  margin-left:15px;
  font-size:15px;
}

.tweet_pin > span{
  margin-left:10px;
  font-size:12px;
}


.tweet_more_container > .action_hover{
  top:22px;
  right:-2px;
}

.close_tweet{
  position: relative;
  width: 100%;
  height:30px;
}

.close_tweet > .action_hover{
  right:-7px;
  top:22px;
}

.close_tweet .x_mark_icon{
  position:absolute;
  right:0;
  padding:5px;

}

.close_tweet .x_mark_icon:hover{
  background-color: black;
  border-radius: 100px;
}

.user_tweet_content{
  margin-left:15px;
  margin-top:50px;
  margin-bottom:30px;
}

.user_tweet_content > span{
  font-weight:initial;
}

.user_tweet_image_container{
  padding: 0px 5px 5px 15px;
}

.user_tweet_image_container > img{
  width:100%;
  height:auto;
  border-radius: 10px;
}

.tweet > .tweet_content > .action_container{
  display: flex;
  justify-content: space-around;
}

.action_container > div {
  position: relative;
}

.action_hover{
  position: absolute;
  background-color: rgb(109, 110, 112);
  top:35px;
  font-size: 10px;
  padding:2px;
}

.action_comment_container > .action_hover{
  left:2px;
}

.action_like_container > .action_hover{
  left:4px;
}

.action_share_container > .action_hover{
  left:2px;
}

.tweet > .tweet_content > .action_container > div{
  display:flex;
  align-items:center;
}



.tweet > .tweet_content > .action_container svg{
  padding:8px;
  border-radius: 20px;
}

.tweet > .tweet_content > .action_container span{
  margin-left:5px;
  user-select:none;
}

.action_container > .action_comment_container > svg:hover{
  background-color:skyblue;
}

.action_container > .action_comment_container > .comment_dots_hover{
  background-color:skyblue;
}

.action_container > .action_retweet_container > svg:hover{
  background-color:rgb(40, 155, 40);
}

.action_container > .action_like_container > svg:hover{
  background-color:rgb(170, 83, 83);
}

.action_container > .action_like_container > .heart_hover{
  background-color:rgb(170, 83, 83);
}

.action_container > .action_share_container > svg:hover{
  background-color:skyblue;
}

.action_container > .action_share_container > .share_hover{
  background-color:skyblue;
}

.action_like_container > .hearted{
  color:red;
}


/* recommend(right side) css */

.recommend_container{
  width:18%;
  margin-top:40px;
  padding:20px;
  height:100vh;
}

.recommend_container_content{
  background-color:rgb(30, 32, 36);
  border-radius: 16px;
  position:fixed;
  width:18%;
}

.recommend_header_container{
  padding-top: 15px;
  padding-left: 15px;
  position: relative;
}

.recommend_header_container > h3{
  margin-top:0;
}

.recommend_list{
  display:flex;
  flex-direction:column;
  list-style: none;
  width:100%;
  padding:0;
  margin:0;
}

.recommend_list > .recommend_item{
  display:flex;
  align-items: center;
  padding:20px;
}

.recommend_list > .recommend_item:hover{
  background-color:rgb(67, 64, 64);
}

.recommend_list > .recommend_item > .user_display_name{
  font-size:13px;
}

.recommend_item > .user_image_container > img{
  width:50px;
  height:50px;
  border-radius: 25px;
}

.recommend_item > .user_image_container > svg{
  width:50px;
  height:50px;
  border-radius: 25px;
}

.recommend_contaienr_follow_box{
  margin-left:auto;
}

.recommend_contaienr_follow_box > button{
  font-weight:bold;
  background-color:white;
  border-radius: 30px;
  padding:5px 15px;
  border:none;
  cursor:pointer;
}

.recommend_friend_follow_btn{
  color:black;
  font-weight:bold;
}

.recommend_friend_follow_btn:hover{
  color:red;
}

.recommend_friend_unfollow_btn{
  color:blue;
  font-weight: bold;
}


/* profile */

.container > .background_container{
  width:100%;
  height:300px;
  background-color: rgb(49, 52, 55);
}

.container > .background_container > img{
  width:100%;
  height:300px;
}

.container > .my_profile_container{
  position: relative;
  height:80px;
}

.container > .my_profile_container > .my_profile_container_top{
  width:100%;
}

.my_profile_container > .my_profile_container_top > img{
  width:140px;
  height:140px;
  border:px solid black;
  border-radius: 70px;
  position: absolute;
  left:30px;
  bottom:0px;
  top:-70px;
}

.my_profile_container > .my_profile_container_top > svg{
  width:140px;
  height:140px;
  border:px solid black;
  border-radius: 70px;
  position: absolute;
  left:30px;
  bottom:0px;
  top:-70px;
}

.my_profile_container > .my_profile_container_top > button{
  height:40px;
  font-weight:bold;
  background-color:black;
  color:white;
  border:1px solid white;
  padding:10px 20px;
  border-radius: 20px;
  cursor:pointer;
  float:right;
  margin-top:20px;
  margin-right:20px;
}

.my_profile_container > .my_profile_container_top > button:hover{
  background-color:rgb(81, 86, 92)
}

.container > .my_profile_info_container{
  display: flex;
  flex-direction: column;
  padding:0 20px;
  margin-bottom:20px;
}

.container > .my_profile_info_container > .user_name{
  font-weight: bold;
  font-size:30px;
}

.container > .my_profile_info_container > .user_email{
  font-weight:lighter;
  color:rgb(100, 110, 119);
}


.container > .my_profile_info_container > .follow_follower_info{
  margin-top:15px;
  color:rgb(100, 110, 119);
}

.container > .my_profile_info_container > .follow_follower_info > span:nth-child(1){
  margin-right:15px;
}

.container > .my_profile_info_container > .follow_follower_info > span:hover{
  cursor:pointer;
  border-bottom:1px solid white;
}

.container > .my_profile_info_container > .follow_follower_info .number{
  font-weight:bold;
  color:White;
}

.container > .my_trace_navi {
  display: flex;
  height:100px;
  border-bottom:0.1px solid lightslategray;
}

.container > .my_trace_navi > .tweets:hover, .tweets_replies:hover, .media:hover, .likes:hover{
  background-color:rgb(33, 34, 34);
  cursor: pointer;
}

.container > .my_trace_navi > .my_trace_box {
  padding:0px 20px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.container > .my_trace_navi > .my_trace_box > span{
  font-weight:lighter;
  padding:20px 0;
}

.container > .my_trace_navi > .tweets{
  flex:1;
}

.container > .my_trace_navi > .tweets_active > span{
  border-bottom:3px solid #04AAFF;
  font-weight: bold;
}

.container > .my_trace_navi > .tweets_replies{
  flex:1.5;
}

.container > .my_trace_navi > .tweets_replies_active > span{
  border-bottom:3px solid #04AAFF;
  font-weight: bold;
}

.container > .my_trace_navi > .media{
  flex:1;
}

.container > .my_trace_navi > .media_active > span{
  border-bottom:3px solid #04AAFF;
  font-weight: bold;
}

.container > .my_trace_navi > .likes{
  flex:1;
}

.container > .my_trace_navi > .likes_active > span{
  border-bottom:3px solid #04AAFF;
  font-weight: bold;
}

.container > .my_trace_content{
  border-bottom:0.1px solid lightslategray;
  padding:10px 20px;
}

.container > .my_trace_content > .my_trace_content_top{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 10px;
}

.container > .my_trace_content > .my_trace_content_top > span{
  font-weight:bold;
  font-size:20px;
}

.container > .my_trace_content > .my_trace_content_top > svg{
  color:slategray;
  cursor:pointer;
}

.container > .my_trace_content > .setup_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:20px;
}

.container > .my_trace_content > .setup_container > .setup_box{
  height:100px;
  width:170px;
  padding: 15px;
  border-radius:10px;
  cursor:pointer;
}

.container > .my_trace_content > .setup_container > .setup_box:hover{
  background-color:white;
}

.container > .my_trace_content > .setup_container > .setup_box > div{
  border:1px solid white;
  border-radius: 10px;
  height:80px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.container > .my_trace_content > .setup_container > .setup_box > div> svg{
  width:30px;
  height:30px;
}

.container > .my_trace_content > .setup_container > .setup_box > span{
  font-size:11px;
  font-weight: bold;
}

.container > .my_trace_content > .setup_container > .setup_box:hover{
  background-color:lightslategray;
}


.container > .profile_follow_recommend{
  padding: 10px 20px;
  border-bottom : 0.1px solid lightslategray;
}

.container > .profile_follow_recommend > span{
  font-weight:bold;
  font-size:20px;
}

.container > .profile_follow_recommend > .recommend_list_container{
  margin-top:10px;
}

.media_container{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:100px 130px;
}

.media_container > .media_content_img > svg{
  width:200px;
  height:200px;
}

.media_container > .media_content_message{
  display:flex;
  flex-direction: column;

}

.media_container > .media_content_message > .message_header{
  font-weight: bold;
  font-size:34px;
}

.media_container > .media_content_message > .text{
  margin-top:20px;
  font-weight: lighter;
}

.like_container {
  padding:50px 130px;
}

.like_container > .like_container_content {
  display:flex;
  flex-direction: column;
}

.like_container > .like_container_content > .like_content_top {
  font-weight: bold;
  font-size:34px;
}

.like_container > .like_container_content > .text{
  margin-top:20px;
}

/* update profile modal */

.modal_update_profile_background{
  position: fixed;
  background-color: rgba(255,255,255,0.5);
  z-index: 2;
  top:0;
  left:0;
  height:0;
  z-index: 2;
  height:100%;
  width:100%;
}

.modal_update_profile_background > .modal_update_profile_container{
  position: absolute;
  background-color:black;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width:600px;
  height:600px;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  padding:10px 70px;
}

.modal_update_profile_background > .modal_update_profile_container > svg{
  font-size:30px;
  color:white;
  margin-bottom:30px;
}

.modal_update_content{
  display: flex;
  flex-direction: column;
}


.modal_upload_header{
  font-weight:bold;
  font-size:30px;
  margin-bottom:10px;
}

.modal_upload_text{
  font-weight:lighter;
  font-size:15px;
  color:lightslategrey;
  margin-bottom:50px;
}

.modal_update_profile_container > .modal_update_user_img{
  border:3px solid white;
  background-color:slategray;
  height:200px;
  width:200px;
  border-radius: 200px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.modal_update_camera, .modal_update_background{
  position:absolute;
  background-color:black;
  border-radius:50px;
  padding:2px;
  height:30px;
  width:30px;
  top:0;
  left:0;
  right:0;
  bottom:0;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  cursor:pointer;
}

.modal_update_container > div > label > svg{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  cursor:pointer;
}

.modal_update_input_user_img{
  display:none;
}

.modal_update_user_img > .modal_update_camera:hover{
  background-color:rgb(79, 77, 77);
}

.update_background_img_container > .modal_update_background:hover{
  background-color:rgb(79, 77, 77);
}

.modal_update_user_img > img{
  width:200px;
  height:200px;
  border-radius: 200px;
}

.modal_update_user_img > svg{
  width: 200px;
  height: 200px;
  border-radius: 200px;
}

.modal_update_img_hover{
  position: absolute;
  top:28px;
  left:7px;
}

.modal_update_img_hover > span{
  background-color:rgb(135, 132, 132);
  font-size:7px;
  color:white;
}

.modal_update_skip_btn{
  border:1px solid white;
  width:70%;
  display:flex;
  justify-content: center;
  align-items: center;
  height:60px;
  border-radius: 35px;
  position: absolute;
  bottom:36px;
  left:108px;
  cursor: pointer;
}

.modal_update_skip_btn:hover{
  background-color:rgb(67, 64, 64);
}

.modal_update_skip_btn > button{
  background: transparent;
  padding: auto 20px;
  color:white;
  font-weight: bold;
  border:none;
  font-size:20px;
  cursor: pointer;
}

.modal_update_display_name_top{
  display:flex;
  width:100%;
  margin-bottom:30px;
}

.modal_update_display_name_top > svg:nth-child(1){
  position: absolute;
  left:20px;
  font-size:15px;
  cursor:pointer;
  border-radius: 20px;
  padding:10px;
}

.modal_update_display_name_top > svg:nth-child(1):hover{
  background-color:rgb(67, 64, 64);
}

.modal_update_display_name_top > svg:nth-child(2){
  font-size:30px;
  margin: 0 auto;
}

.update_background_img_container{
  position: relative;
  border:1px solid white;
  margin:0 auto;
  width:500px;
  height:270px;
} 

.update_background_img_container > img{
  width:100%;
  height:100%;
}

.update_display_name_text{
  border:1px solid rgb(67, 64, 64);
  width:70%;
  margin-top:50px;
  margin: 0 auto;
}

.update_display_name_text > input{
  background-color:transparent;
  outline:none;
  border: none;
  font-size:20px;
  width:100%;
  height:80px;
  font-weight:bold;
  color:white;
}


/* Like Toast Notification */

.toast_container{
  position: fixed;
  width:35%;
  height:50px;
  background-color:#04AAFF;
  top:90vh;
  left:50%;
  transform:translateX(-50%);
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:15px;
  border-radius: 5px;
  z-index: 5;
}


/* tweet_modal */

.tweet_modal_background{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(255,255,255,0.5); 
  z-index:2;
}

.tweet_modal_background > .tweet_modal_container{
  background-color:black;
  width:600px;
  max-height: 90%;
  z-index: 3;
  border-radius: 15px;
  margin: 0 auto;
  margin-top:40px;
  overflow-y: auto;
}

.tweet_modal_container > .delete_container{
  display:flex;
  width:100%;
  margin-bottom:30px;
}

.tweet_modal_container > .delete_container > svg{
  position: absolute;
  font-size:15px;
  cursor:pointer;
  border-radius: 30px;
  padding:10px;
  margin-top:10px;
  margin-left:10px;
  width:15px;
  height:15px;
}

.tweet_modal_container > .delete_container > svg:hover{
  background-color:rgb(67, 64, 64);
}

.tweet_modal_content_container{
  display:flex;
  margin-top:70px;

}

.tweet_modal_container > .parent_tweet_info {
  display:flex;
}

.tweet_modal_container > .parent_tweet_info > .parent_img_container{
  margin-top:50px;
}

.tweet_modal_container > .parent_tweet_info > .parent_img_container > img{
  width:60px;
  height:60px;
  border-radius: 30px;
  margin-left:30px;
}

.tweet_modal_container > .parent_tweet_info > .parent_text_contaienr{
  margin-top:50px;
  display:flex;
  flex-direction: column;
  margin-left:15px;
}

.tweet_modal_container > .parent_tweet_info > .parent_text_contaienr > .user_name{
  font-weight: bold;
  font-size:20px;
}

.tweet_modal_container > .parent_tweet_info > .parent_text_contaienr > .user_tweet{
  margin-top:5px;
  font-weight: normal;
}

.tweet_modal_container > .parent_tweet_info > .parent_text_contaienr > .user_reply_info{
  font-weight: lighter;
  margin-top:30px;
  color: rgb(100, 110, 119);
}

.parent_text_contaienr > .user_reply_info > .user_email{
  font-weight: lighter;
  color:blue;
}


.tweet_modal_content_container > .user_img_container{
  height:100%;
  margin-left:30px;
}

.tweet_modal_content_container > .user_img_container > img {
  width:60px;
  height:60px;
  border-radius: 30px;
}

.tweet_modal_content_container > .user_tweet_container{
  height:100%;
  width:100%;
  margin-left:20px;
}

.tweet_modal_content_container > .user_tweet_container > div{
  margin-top:40px;
}

.tweet_modal_tweet_text{
  width:80%;
  border:none;
  outline:none;
  border-bottom:1px solid white;
  background-color: transparent;
  height:60px;
  color:white;
  font-size:20px;
}


.tweet_modal_container_footer{
  margin: 0 auto;
  margin-top:8%;
  width:70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom:20px;
}

.tweet_modal_container_footer > label >  svg {
  width:30px;
  height:30px;
  color:#04AAFF;
  margin-top:30px;
  margin-left:10px;
  cursor: pointer;
}

.tweet_modal_container_footer > input {
  display:none;
}

.tweet_modal_container_footer > button{
  background-color:#04AAFF;
  padding:10px 20px;
  border-radius: 20px;
  color:white;  
  font-weight: bold;
  float:right;
  margin-right:10px;
  cursor:pointer;
  margin-top:20px;
}

.user_tweet_container img{
  width: auto;
  height: auto;
}


.tictoc_active_box{
  position: absolute;
  border:0.1px solid lightslategray;
  right:0;
  display: flex;
  flex-direction:column;
  background-color: black;
  z-index: 10;
  width:auto;
  border-radius: 10px;
}

.tictoc_active_box > ul{
  list-style: none;
  margin:0px;
  padding:0px;
}

.tictoc_active_box > ul > li {
  padding:5px 20px;
}

.tictoc_active_box > ul > li:hover{
  background-color: rgb(44, 43, 43);
}


.reply_attachment{
  position:relative;
}

.reply_attachment > img {
  width:100%;
  height:auto;
  border-radius: 10px;
}

.reply_clear > svg{
  position: absolute;
  color:white;
  padding:3px;
  width:16px;
  height:16px;
  border-radius: 20px;
  background-color:black;
  top:5px;
  left:5px;
}

.user_tweet_content {
  position: relative;
}

.user_tweet_content > .reply_content{
  display:flex;
  flex-direction: column;
}

.user_tweet_content > .reply_content > .replying{
  color : rgb(100, 110, 119);
  font-weight: lighter;
}

.user_tweet_content > .reply_content > .replying > .user_email{
  color:#04AAFF;
}

.user_tweet_content > .reply_content > .replying > .user_email:hover{
  border-bottom:0.1px solid #04AAFF;
  cursor:pointer
}

.user_tweet_content > .reply_content > .replying > .activing_user_email{
  border-bottom:0.1px solid #04AAFF;
}

.user_tweet_content > .reply_content > .text {
  margin-top:10px;
  font-weight:bold;
}

.user_info_hover_container {
  width: 260px;
  height: 160px;
  background-color: rgb(30, 32, 36);
  position: absolute;
  z-index: 1;
  /* top:30px; */
  border-radius: 20px;
  padding:20px;
  cursor:default;
  display:flex;
  flex-direction: column;
}

.last_tweet_user_info_hover_container .hover_user_img{
  bottom:0px;
  top:-200px;
}

.last_tweet_user_email_hover{
  bottom:0px;
  top:-200px;
}

.last_tweet_user_img_hover{
  bottom:0px;
  top:-200px;
}

.last_tweet_user_email_hover{
  bottom:0px;
  right:-200px;
  top:-210px;
}


.hover_email{
  top: 30px;
}

.hover_user_img{
  top: 80px;
}

.user_info_hover_container .user_info_hover_container_gray_text{
  color : rgb(100, 110, 119);
  margin-left:5px;
}

.user_info_hover_container{
  box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}

.user_info_hover_top_container{
  display:flex;
  margin-bottom:10px;
}

.user_info_hover_top_container img { 
  width:60px;
  height:60px;
  border-radius: 30px;
} 

.user_info_hover_top_container svg{
  width:60px;
  height:60px;
  border-radius: 30px;
}

.user_info_hover_top_container > .user_info_hover_current_user{
  margin-left:auto;
}

.user_info_hover_top_container > .user_info_hover_current_user > button{
  padding:10px 15px;
  border-radius: 20px;
  font-weight: bold;
  background: #04AAFF;
  color:white;
  border:none;
}


.user_info_hover_container > .user_info_hover_mid_container {
  display:flex;
  flex-direction: column;
  margin-bottom:20px;
}

.user_info_hover_container > .user_info_hover_bottom_container{
  display:flex;
  align-items: center;
}

.second_text{
  margin-left:10px;
}

.user_info_hover_bottom_container > .user_info_hover_container_gray_text{
  margin-left:5px;
}

/* retweet_content  */
.retweet_content_container{
  display:flex;
  flex-direction: column;
  margin-top:30px;
  margin-left:100px;
  margin-right:80px;
  border:1px solid white;
  border-radius: 30px;
}

.retweet_content_container > .retweet_top{
  margin-top:10px;
  margin-left:10px;
  padding:10px;
  display:flex;
  align-items: center;
}

.retweet_content_container > .retweet_top > img{
  width:20px;
  height:20px;
  border-radius: 30px;
  margin-right:5px;
}

.retweet_content_container > .retweet_top > .user_email{
  margin-left:5px;
  font-weight: lighter;
  color: rgb(100, 110, 119);
}

.retweet_content_container > .retweet_content{
  margin-top:10px;
  margin-left:10px;
  padding:10px;
}

.retweet_content_container > .retweet_content > span{
  font-size: 17px;
  font-weight: bold;
}

.retweet_content_container > .retweet_img {
  margin-top:10px;
  margin-left:20px;
  margin-bottom:20px;
}

.retweet_content_container > .retweet_img > img{
  width:auto;
  height:auto;
}

.tictoc_retweet_content_container > .retweet_content_container{
  margin-right:20px;
  margin-left:0;
  margin-bottom:20px;
}

/* tweet_detail inactive */

.container > .detail_tweet_write_container {
  border-bottom:0.1px solid lightslategray;
  width:100%;
  height:80px;
  padding:15px 0px;
  display:flex;
  align-items: center;
}

.container > .detail_tweet_write_container > .detail_tweet_write_content {
  display:flex;
  align-items: center;
  width:100%;
  padding:0 10px;
}

.container > .detail_tweet_write_container > .detail_tweet_write_content > img {
  width:50px;
  height:50px;
  border-radius: 30px;
}

.container > .detail_tweet_write_container > .detail_tweet_write_content > svg {
  width:50px;
  height:50px;
  border-radius: 30px;
}

.container > .detail_tweet_write_container> .detail_tweet_write_content > div{
  margin-left:15px; 
}

.container > .detail_tweet_write_container> .detail_tweet_write_content > div{
  color: slategray;
  font-weight:bold;
}

.container > .detail_tweet_write_container > .detail_tweet_write_content > button{
  margin-left:auto;
  background-color:rgba(4, 170, 255, 0.6);
  border-radius: 22px;
  font-size:15px;
  padding:0 10px;
  height:32px;
  display:flex;
  align-items: center;
  font-weight: bold;
  color:rgba(255,255,255, 0.5);
}

/* tweet_detail active */

.detail_tweet_write_container_active{
  display:flex;
  padding:5px 10px;
  border-bottom:0.1px solid slategray;
}

.detail_tweet_write_container_active > .tweet_write_active_img_container > img{
  width:50px;
  height:50px;
  border-radius: 30px;
  margin-top:20px;
}

.tweet_write_active_content_container{
  padding-left:15px;
  width: 75%;
}

.tweet_write_active_content_container > span{
  color:rgb(100, 110, 119);
  font-size:14px;
}

.tweet_write_active_content_container > span > .user_email{
  color:blue;
}

.tweet_write_active_content_container > div > .tweet_container{
  border:none;
  background: transparent;
  outline: none;
  color:white;
  height:40px;
  font-size:20px;
}

.tweet_write_active_content_container > .tweet_write_active_content_footer {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top:10px;
}

.tweet_write_active_content_container > .tweet_write_active_content_footer > .input_file{
  display:none;
}

.tweet_write_active_content_container > .tweet_write_active_content_footer > label > svg{
  color:#04AAFF;
  cursor: pointer;
}

.tweet_write_active_content_container > .tweet_write_active_content_footer > button{
  margin-left:auto;
  background-color:rgba(4, 170, 255, 0.6);
  border-radius: 22px;
  font-size:15px;
  padding:0 10px;
  height:32px;
  display:flex;
  align-items: center;
  font-weight: bold;
  color:rgba(255,255,255, 0.5);
}


/* 로그인 화면 */
.authContainer {
  width:100%;
  height:100vh;
  display: flex;
}

.twitter_image{
  display:flex;
  justify-content: center;
  align-items: center;
  width:50%;
}

.init_page_login_form_container{
  display:flex;
  margin: 0 auto;
  align-items: center;
}

.login_form_container{
  display:flex;
  flex-direction: column;
}

.login_form_container > input{
  color:white;
  margin:5px;
  background: transparent;
  border:none;
}

.login_form_container > .authInput{
  height:20px;
  border-bottom:1px solid #04AAFF;
}

.login_form_container > .authSubmit {
  padding: 10px 20px;
  background-color:#04AAFF;
  border-radius: 20px;
  cursor: pointer;
}

.authBtns{
  margin-left:30px;
  display:flex;
  flex-direction: column;
}

.authSwitch{
  margin-top:10px;
  text-align: center;
  background: transparent;
  cursor:pointer;
  font-size:14px;
  color:#04AAFF;
  border:none;
  width:auto;
  margin:5px;
  padding:0;
  border-bottom:1px solid black;
}

.authSwitch:hover{
  border-bottom:1px solid white;
}

.login_form{
  text-align:center;
}

.authBtn:before{
  display:inline-block;
  width:auto;
}

.authBtn:after{
  content:"";
}

.authBtn{
  padding:7px;
  font-size:14px;
  display: flex;
}

.googleAuth{
  background-color: #DD4B39;
  border: 1px solid #c23321;
  color:white;
}

.githubAuth{
  background-color:#333;
  border:1px solid #1a1a1a;
  color:white;
  margin-top:10px;
}

.githubAuth:hover{
  background-color: #262626;
}

.googleAuth:hover{
  background-color: #d73925;
}

.githubAuth > svg{
  border-right: 1px solid #1a1a1a;
}

.googleAuth > svg{
  border-right: 1px solid #c23321;
}

.authBtn > svg{
  color:white;
  padding: 10px;
}

.githubAuth > span{
  padding:10px;
}

.authBtn > span{
  display:flex;
  align-items: center;
  padding:10px;
}

.githubAuth > svg:after{
  border-right:1px solid #4d4d4d;
}

.create_modal_background{
  position: fixed;
  left:50%;
  top: 50%;
  width:100%;
  height:100%;
  transform: translate(-50%, -50%);
  background-color:rgba(255,255,255, 0.5);
}

.create_modal_container{
  position: absolute;
  left:50%;
  top: 50%;
  width:100%;
  height:100%;
  transform: translate(-50%, -50%);
  width:500px;
  height:500px;
  background-color:black;
}

.create_modal_container > .twitter_icon_container > svg{
  color:#04AAFF;
  margin:60px 0px;
  font-size:50px;
}

.create_account_form{
  display:flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  margin: 0 auto;
}

.create_account_form > .create_authInput {
  height:40px;
  width:100%;
  margin-bottom: 20px;
  background: transparent;
  border:none;
  border-bottom: 1px solid white;
  color:white;
  outline: none;
  font-size:18px;
}

.create_account_form > .create_account_btn{
  background: #04AAFF;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  margin-top:30px;
  cursor: pointer;
}

.create_account_modal_close > svg{
  position: absolute;
  padding:5px;
  right:0;
  cursor:pointer;
  margin-top:8px;
  margin-right:8px;
  width:20px;
  height:20px;
}

.create_account_modal_close > svg:hover{
  border-radius: 20px;
  background-color: rgb(38, 36, 36);
}

.retweet_state{
  color:rgba(40, 155, 40, 0.6);
}

.retweet_state_num{
  color:rgb(40, 155, 40);
}


/* deleteModal */

.delete_modal_background_container{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(255,255,255,0.5); 
  z-index:6;
}

.delete_modal_container {
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: auto;
  background-color:black;
  padding:40px;
  border-radius: 20px;
}

.delete_modal_container > .delete_text_content > span{
  font-size:14px;
}

.delete_button_container {
  margin-top:30px;
  display:flex;
  flex-direction: column;
}

.delete_button_container > button{
  height:40px;
  border-radius:20px;
  cursor:pointer;
  font-weight:bold;
}

.delete_button_container > .delete{
  margin-bottom:5px;
  background-color:red;
  color:white;
}

.profile_tweet_replies{
  margin-top:60px;
  text-align: center;
  border-bottom:0.1px solid lightslategray;
}

.profile_empty_my_tweet_container{
  padding:30px;
  border-bottom:0.1px solid lightslategray;
}

.profile_empty_my_tweet_container > h1{
  text-align: center;
}
